 [Unit]
Description       = Sancho node Service
After             = multi-user.target 

 [Service]
Type              = simple
Environment       = LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"
Environment       = PKG_CONFIG_PATH="/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH"
Environment       = PATH="/home/tutorial/.local/bin/:$PATH"
ExecStart         = /home/tutorial/.local/bin/cardano-node run --config /home/tutorial/sancho-source/cardano-node/sanchotest/config.json --topology /home/tutorial/sancho-source/cardano-node/sanchotest/topology.json --database-path /home/tutorial/sancho-source/cardano-node/db/ --socket-path /home/tutorial/sancho-source/cardano-node/db/node.socket --host-addr 0.0.0.0 --port 6000


KillSignal        = SIGINT
RestartKillSignal = SIGINT
TimeoutStopSec    = 300
StandardOutput    = journal
StandardError     = journal
LimitNOFILE       = 32768
Restart           = on-failure
RestartSec        = 15
SyslogIdentifier  = sancho-node
User              = snode
Group             = tutorial

 [Install]
WantedBy          = multi-user.target
